.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.addBtn {
  background-color: rgb(10, 188, 10);
}

.addBtn:hover {
  background-color: rgb(14, 217, 14);
}

.delBtn {
  background-color: rgb(178, 19, 19);
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

.delBtn:hover {
  background-color: rgb(225, 18, 18);
}

.moveBtn {
  background-color: rgb(11, 179, 185);
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

.moveBtn:hover {
  background-color: rgb(14, 217, 210);
}

input {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  color: gray;
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 10px;
  background-color: rgb(224, 218, 218);
  border: 3px solid rgb(54, 54, 54);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}
